body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 70%;
    margin: auto;
    background:white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

p, ul {
    line-height: 1.6;
}

ul {
    list-style-type: square;
}

a {
    text-decoration: none;
    color: #0073e6;
}

a:hover {
    text-decoration: underline;
}
